<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Изменение товара</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header>
        <div class="catalog-info">
            <a href="/" class="main-text">Главная</a>
        </div>
        <div class="search-bar">
            <span class="action">Изменение товара</span>
        </div>
        <div class="user-cart-info">
            <button class="user-info">
                <a href="/profile">
                    <%= user.Login %>
                </a>
            </button>
        </div>
    </header>

    <form class="ed-product-form" id="ed-product-form">
        <input type="hidden" name="product_id" value='<%= product.ProductID %>'>
        <label for="name">Название товара:</label>
        <input type="text" id="name" name="name" value='<%= product.Name %>' required><br>

        <label for="price">Цена:</label>
        <input type="text" id="price" name="price" value='<%= product.Price %>' required pattern="[0-9.]*"><br>

        <label for="image">Ссылка на изображение:</label>
        <input type="text" id="image" value='<%= product.Image %>' name="image"><br>

        <label for="description">Описание:</label>
        <textarea id="description" name="description"><%= product.Description %></textarea><br>

        <label for="count">Количество:</label>
        <input type="text" id="count" name="count" value='<%= product.Count %>' required required pattern="[0-9]*"><br>

        <input type="submit" value="Создать">
    </form>

    <script src="/js/admin.js"></script>
</body>

</html>